<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    <center>
        <h1>SELAMAT DATANG</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum molestias provident, voluptas atque, aliquid similique, ducimus magnam error culpa et voluptatem aliquam aut amet aspernatur saepe! Odio tempora sint exercitationem fugit quae iusto ratione fuga aspernatur impedit incidunt. Sit, praesentium cum est maiores at ad repellendus suscipit modi obcaecati facere?</p>
    </center>
</body>
</html>